@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body {
  margin: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "var(--font-dmsans)";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: rgb(255, 255, 255);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
.home-bg {
  background-image: url(https://tanukilaunchpad.com/background.png);
}
.presale-bg {
  background-image: url(https://tanukilaunchpad.com/predetailbg.png);
}
.referral-bg {
  background-image: url(https://tanukilaunchpad.com/presalebg.png);
}
.staking-bg {
  background-image: url(https://tanukilaunchpad.com/Stakebg.png);
}
.utility-box {
  display: flex;
    width: 100%;
    height: 240px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: initial;
    border-image: radial-gradient(48.6% 799.61% at 50% 50%, rgb(71, 118, 230) 0%, rgba(142, 84, 233, 0) 100%) 1 / 1 / 0 stretch;
    background: rgb(28, 28, 46);
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.25) 12.1px 13.4444px 33.6111px 0px;
}

.roadmap-card {
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 10px;
  height: 535px;
}

.info {
  background: linear-gradient(284.41deg, rgb(0, 166, 27) -17.98%, rgb(93, 95, 239) 100.19%), linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 24px;
}

.info-right {
  background: linear-gradient(rgb(93, 96, 239) 0%, rgb(117, 226, 137) 100%);
  border-radius: 45px;
  height: 100%;
  width: 100%;
  padding: 4px;
}
.info-right-inner {
  background: rgb(21, 21, 39);
  height: 100%;
  width: 100%;
  border-radius: 45px;
  padding: 32px;
}

.live-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px 16px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 6px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: rgba(255, 179, 31, 0.2);
  border-radius: 25px;
  color: rgb(255, 206, 31);
  font-family: "DM sans";
  text-transform: uppercase;
}

.live-button:hover {
  background: rgba(255, 179, 31, 0.2);
  color: rgb(255, 206, 31);
}

.safu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px 16px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: rgba(17, 154, 65, 0.63);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-family: "DM sans";
  text-transform: uppercase;
}
.safu:hover {
  background: rgba(17, 154, 65, 0.63);
}

.combo-box-select {
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  width: 90px;
  color: rgb(255, 255, 255);
  background: linear-gradient(136.07deg, rgb(138, 43, 226) 10.53%, rgb(97, 255, 0) 93.86%);
}

.token-input-container {
  margin-top: 8px;
  margin-bottom: 8px;
  background: rgba(0, 255, 163, 0.23);
  width: 100%;
  border-radius: 12px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.token-input {
  height: 40px; 
  width: 80%; 
  font-size: 17px; 
  font-weight: 500; 
  text-align: left; 
  color: rgb(255, 255, 255); 
  background-color: transparent; 
  padding-left: 15px; 
  border: none; 
  outline: none;
}

.buy-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 6px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 44);
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-transform: capitalize;
  border-radius: 99px;
  height: 48px;
  border: 1px solid rgb(40, 48, 63);
  width: 100%;
  
  border-radius: 12px;
  background: linear-gradient(90deg, rgb(30, 114, 174) 0%, rgb(26, 229, 34) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
}

.rf-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 6px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(119, 30, 174) 0%, rgb(26, 229, 58) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
  font-size: 16px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-transform: capitalize;
  border-radius: 12px;
  height: 48px;
  width: 300px;
}

.bonus-info {
  margin-top: 64px;
  background: linear-gradient(136.07deg, rgb(138, 43, 226) 10.53%, rgb(97, 255, 0) 93.86%);
  border-radius: 24px;
  height: 100%;
  width: 100%;
  padding: 4px;

}

.bonus-info-inner {
  position: relative;
  z-index: 1;
  background: rgb(21, 21, 39);
  height: 100%;
  width: 100%;
  border-radius: 24px;
  padding: 32px;
}

.circular-number-box {
  background: linear-gradient(rgb(28, 108, 255) 0%, rgb(194, 36, 255) 100%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 4px;
}
.circular-number-box-inner {
  background: rgb(21, 21, 39);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.gr-line {
  background: linear-gradient(rgb(28, 108, 255) 0%, rgb(194, 36, 255) 100%);
  width: 25px;
  height: 200px;
  border-radius: 24px;
}

.stake-box {
  margin-top: 16px;
  background: linear-gradient(284.41deg, rgb(0, 166, 27) -17.98%, rgb(93, 95, 239) 100.19%), linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
  width: 100%;
  height: 220px;
  border-radius: 15px;
  padding: 16px;
}
.stake-box-2 {
  background: linear-gradient(152.36deg, rgb(73, 111, 193) 17.18%, rgb(1, 253, 40) 102.92%);
  border-radius: 22px;
  height: 220px;
  width: 100%;
  padding: 3.2px;
}
.stake-box-inner {
  background: rgb(21, 21, 39);
  height: 100%;
  width: 100%;
  border-radius: 22px;
}

.stake-button {
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(30, 114, 174) 0%, rgb(26, 229, 34) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: capitalize;
    height: 48px;
    width: 150px;
    border: none;
}

.table-container {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  overflow-x: auto;
  box-shadow: none;
  border-radius: 0px;
  background: none;
}
.staking-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  min-width: 1000px;
}
.staking-table-head-row {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
  border-bottom: 2px solid transparent;
}

.cell {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.table-heading-text {
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  font-size: 17px;
  color: rgb(161, 140, 192);
}

.nft-box-gr {
  background: linear-gradient(293.23deg, rgb(97, 255, 0) -5.44%, rgb(138, 43, 226) 97.24%), linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
}